* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-blue {
  background-color: #003049;
}

/* navbar */
.company-name {
  font-size: calc(1rem + 1vw);
}

/* nav li a {
  font-size: calc(1rem + 5vw);
} */

/* body */
#body {
  height: 90vh;
  padding-right: 1rem;
  /* background-color: blue; */
}

#body > div:first-child {
  min-height: 100%;
}

.left > div:first-child {
  height: 60%;
}

/* left message */
.main-message {
  font-size: calc(2rem + 2vw);
}

.sub-message {
  font-size: calc(1rem + 1vw);
}

.getStartBtn {
  font-size: calc(1rem + 0.5vw);
  font-weight: 3rem;
  min-width: 100px;
}

/* meal grid homepage */
#three-plate-grid {
  display: none;
}

/* sec row */
.sec-row {
  font-size: calc(2rem + 1vw);
}

/* sixth row */
.cardContainer,
.PackageCard {
  min-width: 250px;
  display: flex;
  padding: 0;
}

.homePageCard.card {
  min-width: 100%;
  height: 100%;
  padding: 0;
}

/* card img */
.homePageCard > img {
  height: 60%;
}

.homePageCard > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* footer */
footer {
  background-color: #003049;
}
/* font awesome */
footer a {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
footer .fa-brands {
  font-size: calc(1rem + 1vw);
  color: white;
}

@media (max-width: 1015px) {
  div.PackageCard {
    min-width: 50%;
  }
}

@media (max-width: 992px) {
  .logInBtn {
    margin-top: 0.5rem;
  }
  #body {
    padding-right: 0;
    height: fit-content;
    display: flex;
  }

  #body > div:first-child.left {
    max-height: fit-content;
    min-height: fit-content;
  }

  .left > div:first-child {
    height: 100%;
  }

  .left-bottom {
    display: none !important;
  }

  .right {
    display: none;
  }

  #three-plate-grid {
    display: flex;
    width: 65%;
    margin: auto;
  }

  .twoBoxRow > div {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #three-plate-grid {
    width: 75%;
  }
  .cardContainer:last-child {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  #three-plate-grid {
    width: 100%;
  }
}
@media (max-width: 514px) {
  .cardContainer:last-child {
    max-width: 100%;
  }

  .cardContainer {
    margin-bottom: 1rem;
  }

  div.PackageCard {
    min-width: 100%;
  }
}
