* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#first-container {
  min-height: 90vh;
  background-color: rgb(67, 67, 70);
}

/* left and right */
.left,
.right {
  background-color: aquamarine;
}

/* main message main container */
.left > div:first-child {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

/* main messge container */
.left > div:first-child > div {
  width: fit-content;
  text-align: left;
}

/* left message */
.main-message {
  font-size: calc(2rem + 2vw);
}

.sub-message {
  font-size: calc(1rem + 1vw);
}

/* get start btn */
.getStartBtn {
  font-size: calc(1rem + 0.5vw);
  font-weight: 3rem;
  min-width: 100px;
}
